@import url(https://fonts.googleapis.com/css?family=Bree+Serif);
@import url(https://fonts.googleapis.com/css?family=Roboto);
body {
	background-color: #FFFFFF;
	font-family: 'Roboto', sans-serif;
	font-weight:300;
	font-size:95%;
	line-height: 1.50em;
	color:#6c5e51;
	text-align:center;
	margin:0;
}
a:link {
	color: #6c5e51;
	text-decoration: none;
}
a:visited {
	color: #6c5e51;
	text-decoration: none;
}
a:active {
	color: #b3a795;
	text-decoration: none;
}
a:hover {
	color: #b3a795;
	text-decoration: none;
}
.bold {
	font-family: 'Roboto', sans-serif;
	font-weight:500;
}
h1 {
	font-size:160%;
	font-weight:normal;
	line-height: 1.40em;
    font-family: 'Bree Serif', serif;
}
h2 {
	font-size:120%;
	line-height: 1.40em;
    font-weight:normal;
    font-family: 'Bree Serif', serif;
	text-transform:uppercase;
	letter-spacing:1.4pt;
}
h3 {
    font-size:100%;
	line-height: 1.40em;
	font-weight:normal;
    font-family: 'Bree Serif', serif;
	text-transform:uppercase;
	letter-spacing:1.4pt;
	display:inline;
}
h4 {
	font-family: 'Roboto', sans-serif;
	color:#b3a795;
	font-weight:500;
	font-size:80%;
	line-height: 1.50em;
	letter-spacing:1pt;
	text-transform:uppercase;
}
h5 {
	font-size:120%;
	color:#b3a795;
	font-weight:normal;
	line-height: 0.3em;
    font-family: 'Bree Serif', serif;
}
/* Header */
header {
	width: 100%;
	margin:0;
	padding:0;
	height: 600px;
	margin-bottom: 2%;
	background-color:#f0eee8;
}
.logo {
	width:31.91%;
	text-align:center;
	float:left;
	margin-top:7%;
	font-size:120%;
	line-height: 1.40em;
    font-family: 'Bree Serif', serif;
	text-transform:uppercase;
	letter-spacing:1pt;
}
.header-img {
	float:left;
	clear:both;
	margin-top:5%;
	width:31.91%;
	text-align:center;
}
.intro {
	width: 60%;
	height:auto;
	margin-top:7%;
	float:right;
	text-align:left;
}
/* Navi */
nav {
	width: 60%;
	float:right;
	font-size:100%;
    font-family: 'Bree Serif', serif;
	margin-top:7%;
	letter-spacing:1pt;
	text-transform:uppercase;
	text-align:left;
}
ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
ul.topnav li {float: left;}

ul.topnav li a {
    display: inline-block;
    color: #6c5e51;
    text-align: center;
    padding: 0 10px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 100%;
}
ul.topnav li a:hover {
	color: #b3a795;
}
.active {
	color: #b3a795;
    padding: 0 10px;
}

/* Columns */
.container {
	clear:both;
	width:100%;
	margin-top:3%;
}
.col100 {
    width: 100%;
    max-width: 940px;
	height:auto;
	margin: 0 auto;
	clear:both;
}
.col3-main {
	float:left;
	clear:right;
	text-align:left;
	padding-top:3%;
	padding-bottom:3%;
	background-image:url(../bilder/col-bg.jpg);
	background-repeat: repeat-y;
	background-position:left;
	width:31.91%;
	margin-bottom:4%;
	margin-right:2%;
}
.col3-main:last-child {
	margin-right:0;
}
.col50-bg {
	float:left;
	background-color:#f0eee8;
	clear:right;
	text-align:center;
	padding-top:2%;
	padding-bottom:2%;
	width:48%;
	margin-bottom:2%;
	margin-right:2%;
}
.col50-bg:last-child {
	margin-right:0;
}
.col50-wo {
	float:left;
	clear:right;
	text-align:center;
	padding:2%;
	width:44%;
	margin-bottom:2%;
	margin-right:2%;
}
.col50 {
	position:relative;
	width: 48%;
	float:left;
	clear:right;
	height:380px;
	flex-direction: row;
	text-align:left;
	margin-bottom:6%;
	margin-top:4%;
	margin-right:4%;
}
.col50:last-child {
	margin-right:0;
}
.col40 {
	float:left;
	text-align:left;
	padding:1%;
	width:40%;
	margin-right:5%;
	margin-bottom:4%;
	margin-top:2%;
}
.col40:last-child {
	margin-right:0;
}
.col25 {
	width: 25%;
	float:left;
	text-align:center;
	margin-bottom:4%;
}
.col25-left {
	width: 25%;
	float:left;
	clear:both;
	text-align:left;
	margin-bottom:4%;
}
.col70 {
	width: 70%;
	float:right;
	clear:left;
	text-align:left;
	margin-bottom:4%;
}
.portfolio {
	width: 100%;
	float:left;
	clear:both;
    display: flex;
}
.box1 {
	flex: 1;
	margin-bottom:4%;
	margin-right:3%;
	padding-bottom:2%;
}
.box1:last-child {
	margin-right:0;
}
.number {
	text-align: center;
    font-size: 370%;
	color:#6c5e51;
	margin-right:10%;
	font-family: 'Bree Serif', serif;
	text-transform:uppercase;
	letter-spacing:1pt;
}
.einzug {
	margin: 3% 0 0 15%;
	text-align:left;
}
.img {
	max-width:100%;
	height:auto;
}
.button {
    text-decoration: none;
	text-align: center;
    font-size: 100%;
	color:#6c5e51;
	font-family: 'Roboto', sans-serif;
	text-transform:uppercase;
	letter-spacing:0.5pt;
    border: 1px solid #6c5e51;
	margin-top:5%;
    padding: 3%;
    display: inline-block;
    overflow: hidden;
    transition: all 0.4s ease 0s;
    cursor: pointer;
 }
.button:hover,
.button:active {
  background-color: #cac0b0;
  color: #6c5e51;
  border: 1px solid #cac0b0;
  transition: background-color 0.3s ease-in,color 0.3s ease-in;
}
.circle {
	width:130px;
	height:130px;
	margin: 0 auto;
    border-radius: 65px;
	border:3px solid #cac0b0;
    background: #FFFFFF; 
}
.layer1 {
	position:absolute;
	text-align:left;
	width:100%;
	z-index:2;
	left:0%;
	top:190px;
}
.layer2 {
	position:absolute;
	text-align:right;
	z-index:1;
	top:0%;
	left:0%;
	width:100%;
}
.layer3 {
	position:absolute;
	text-align:left;
	z-index:3;
	top:0%;
	left:0%;
	width:100%;
}
.vertical-text {
	transform: rotate(-90deg);
	transform-origin:195% 60%;
	font-family: 'Roboto', sans-serif;
	color:#b3a795;
	font-weight:500;
	font-size:80%;
	line-height: 150%;
	letter-spacing:1pt;
	text-transform:uppercase;
	float:left;
}
.img-png {
	width: 220px;
	height: 165px;
	text-align:center;
}
.bottom {
	margin-bottom:3%;
}

/* Footer */
.footer {
	width: 100%;
	font-family: 'Roboto', sans-serif;
	font-weight:300;
	font-size:80%;
	height:auto;
	text-align:left;
	margin-top:2%;
	padding-top:1%;
	padding-bottom:1%;
	clear:both;
	background-color:#f0eee8;
}
#social {
	text-align:right;
	font-family: 'Roboto', sans-serif;
	font-weight:300;
	float:right;
	width:50%;
}
.align {
	margin-right:3%;
}
.testimonials{
	width:75%;
	margin: 0 auto;
    text-align: center;
}
.caroufredsel_wrapper{
    margin: 0 auto!important;
}

.testimonials .slider,{
    width: 80%;
    overflow: visible;
	margin-bottom:2%;
}
.testimonials .slider .t{
    width: 80%;
    text-align: center;
    float: left;
}
.testimonials #t_navigation a{
    display: inline-block;
    width: 13px;
    height: 13px;
    background: #d5ccbf;
    text-decoration: none;
    margin-right: 0.9%;
    margin-top: 3%;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -o-border-radius: 100px;
}

.testimonials #t_navigation a.selected{
    background: #6c5e51;
}
.testimonial {
    width: 80%;
    text-align: center;
}
.margin-bottom {
	margin-bottom:4%;
}
.margin-right {
	margin-right:4%;
}

/* FORMULAR */

.form {
	width:100%;
	color:#6c5e51;
}
#contact-l {
	width:45%;
	margin-bottom:3%;
	float:left;
}
#contact-r {
	width:45%;
	margin-bottom:3%;
	float:right;
	clear:right;
}
#contact {
	width:100%;
	margin-bottom:3%;
	float:left;
}
.kontaktfeld {
	font-family: 'Roboto', sans-serif;
	font-weight:300;
	font-size:95%;
	line-height: 150%;
	color:#6c5e51;
	background-color:#FFFFFF;
	border: 1px solid #6c5e51;
	width:100%;
	height:50px;
	padding-left:2%;
	float:left;
}
.kontaktfeld2 {
	font-family: 'Roboto', sans-serif;
	font-weight:300;
	font-size:95%;
	line-height: 150%;
	color:#6c5e51;
	background-color:#FFFFFF;
	border: 1px solid #6c5e51;
	width:100%;
	height:50px;
	padding-left:2%;
	float:right;
}
.kontaktfeld3 {
	font-family: 'Roboto', sans-serif;
	font-weight:300;
	font-size:95%;
	line-height: 150%;
	color:#6c5e51;
	background-color:#FFFFFF;
	border: 1px solid #6c5e51;
	width:100%;
	height:120px;
	padding-top: 2%;
	padding-left:2%;
	float:left;
}
.form-item {
	text-align:left;
}
#send {
	clear:both;
	text-align:center;
}
.sendbutton {
    text-decoration: none;
	text-align: center;
    font-size: 100%;
	color:#6c5e51;
	background-color:#FFFFFF;
	font-family: 'Roboto', sans-serif;
	font-weight:300;
	text-transform:uppercase;
	letter-spacing:0.5pt;
    border: 1px solid #6c5e51;
    padding: 2%;
	margin-top:2%;
	margin-bottom:4%;
    display: inline-block;
    overflow: hidden;
    transition: all 0.4s ease 0s;
    cursor: pointer;
}
.sendbutton:hover,
.sendbutton:active {
  background-color: #cac0b0;
  color: #6c5e51;
  border: 1px solid #cac0b0;
  transition: background-color 0.3s ease-in,color 0.3s ease-in;
}

	


@media only screen and (max-width: 320px) {


.header-img {
	clear:both;
	margin-top:5%;
	width:100%;
	text-align:center;
}
}

@media only screen and (max-width: 500px) {

.col50-bg {
	clear:both;
	padding:2%;
	width:96%;
	margin-bottom:2%;
}
.col50-wo {
	clear:both;
	text-align:center;
	padding:2%;
	width:96%;
	margin-bottom:2%;
}
}


@media only screen and (max-width: 600px) {

.footer {
	width:100%;
	text-align:center;
	margin-left:auto;
	margin-right:auto;
}
#social {
	text-align:center;
	clear:both;
	width:100%;
	background-color:#f0eee8;
}
}


@media only screen and (max-width: 650px) {


.logo {
	width:100%;
	text-align:center;
	margin-top:3%;
	margin-left:auto;
	margin-right:auto;
}
nav {
	width: 100%;
	clear:both;
	margin-top:4%;
	text-align:center;
}
ul.topnav {
	width:100%;
	margin-left:auto;
	margin-right:auto;
}
ul.topnav li {float: inherit;}

ul.topnav li a {
    display: inline-block;
    color: #6c5e51;
    text-align: center;
    padding: 0 5%;
    text-decoration: none;
    transition: 0.3s;
    font-size: 100%;
}
.active {
	color: #b3a795;
    padding: 0 5%;
}
.col3-main {
	background-image:url(../bilder/col-bg.jpg);
	background-repeat: repeat-y;
	background-position:left;
	width:96%;
	text-align:left;
	clear:both;
	padding:2%;
	margin-bottom:4%;
}
.testimonial{
	display:none;
}
.caroufredsel_wrapper{
	display:none;
}

.testimonials .slider,{
	display:none;
}
.testimonials .slider .t{
	display:none;
}
.testimonials #t_navigation a{
	display:none;
}

.testimonials #t_navigation a.selected{
	display:none;
}
.testimonial {
	display:none;
}

}
@media only screen and (max-width: 700px) {

.col50 {
	width: 96%;
	clear:both;
	padding:2%;
	height:380px;
	margin-bottom:4%;
	margin-top:4%;
}
.layer1 {
	position:absolute;
	text-align:left;
	width:96%;
	padding-left:2%;
	z-index:2;
	left:0%;
	top:190px;
}
.layer2 {
	position:absolute;
	text-align:right;
	z-index:1;
	top:0%;
	left:0%;
	width:96%;
	padding-left:2%;
}
.col25 {
	width: 50%;
	float:left;
	text-align:center;
	margin-bottom:4%;
}
}

@media only screen and (max-width: 780px) {
	
header {
	width: 100%;
	margin:0;
	padding:0;
	height: 560px;
	margin-bottom: 2%;
	background-color:#f0eee8;
}
.header-img {
	clear:both;
	margin-top:5%;
	width:100%;
	text-align:center;
}
.intro {
	width: 90%;
	padding:5%;
	margin-top:5%;
	text-align:center;
}

}
@media only screen and (max-width: 940px) {
.form {
	width:100%;
	color:#6c5e51;
}
#contact-l {
	width:96%;
	padding:2%;
	margin-bottom:2%;
	clear:both;
}
#contact-r {
	width:96%;
	padding:2%;
	margin-bottom:2%;
	clear:both;
}
#contact {
	width:96%;
	padding:2%;
	margin-bottom:2%;
	float:left;
}
.vertical-text {
	display:none;
}
	
}